.wrapper > *:not(:last-child) {
    margin-bottom: 20px;
}

.header {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: var(--spacing-medium);
}

.header div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-medium);
}

.header div h1 {
    margin-top: auto;
}

.header div svg {
    height: 200px;
    width: 200px;
}

.staffImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 200ms ease-in-out;
}

.staff {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-medium);
}

.staff article > *:not(:last-child) {
    margin-bottom: 5px;
}

.staff article {
    text-align: center;
    width: fit-content;
}

.staff article figure {
    position: relative;
    overflow: hidden;
    height: 120px;
    width: 120px;
    border-radius: 20px;
}

.staff article figure img {
    object-fit: cover;
}
