:root {
    --max-width: 1100px;
    --color-background: rgb(255, 255, 255);
    --color-background-opaque: rgba(255, 255, 255, 0.1);
    --color-foreground: rgb(18, 18, 18);
    --color-foreground-opaque: rgba(18, 18, 18, 0.1);
    --color-header: rgba(255, 255, 255, 0.8);
    --color-purple: rgb(77, 71, 151);
    --color-purple-opaque: rgba(77, 71, 151, 0.1);
    --color-pink: rgb(247, 203, 224);
    --color-pink-opaque: rgba(247, 203, 224, 0.1);
    --spacing-tiny: 5px;
    --spacing-small: 15px;
    --spacing-medium: 30px;
    --spacing-large: 60px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: rgb(0, 0, 0);
        --color-background-opaque: rgba(0, 0, 0, 0.1);
        --color-background-secondary: rgb(38, 38, 38);
        --color-foreground: rgb(255, 255, 255);
        --color-foreground-opaque: rgba(255, 255, 255, 0.1);
        --color-header: rgba(0, 0, 0, 0.4);
    }

    html {
        color-scheme: dark;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    gap: 20px;
    padding-bottom: 60px;
    background-color: var(--color-background);
}

a {
    text-decoration: none;
    color: var(--color-foreground);
}

h1 {
    font-size: 2rem;
}

/*wrapper*/
.wrapper {
    height: 100%;
    padding: 0 20px;
    margin: 0 auto;
    max-width: var(--max-width);
}

/*header*/
header .wrapper {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-medium);
}

header svg#logo {
    display: block;
    height: 36px;
    width: auto;
    flex-shrink: 0;
    color: var(--color-purple);
}

header nav {
    display: flex;
    gap: var(--spacing-small);
}

@media (max-width: 480px) {
    header nav {
        display: none;
    }
}

header div.socials {
    display: flex;
    gap: var(--spacing-tiny);
}

/*footer*/
footer {
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

footer a {
    display: inline-block;
    padding: 3px 10px;
    background-color: var(--color-pink);
    color: var(--color-purple);
    border-radius: 50px;
    font-size: 12px;
}

footer p {
    font-size: 12px;
    opacity: 0.6;
}

/*loading*/
.loading {
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
