.heroBackground {
    position: relative;
    overflow: hidden;
    background: var(--color-purple-opaque);
    padding-top: 80px; /*header height*/
}

.heroTexture {
    position: absolute;
    height: 200%;
    width: 200%;
    background: url("/grid.png");
    background-repeat: repeat;
    background-size: 50%;
    background-position: center;
    animation: 60s ease-in-out 1s infinite alternate animatedHeroTexture;
}

@keyframes animatedHeroTexture {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-5%, -40%);
    }
    50% {
        transform: translate(-20%, -5%);
    }
    75% {
        transform: translate(-5%, -50%);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

.hero {
    position: relative;
    padding: 60px 0;
    text-align: center;
}

.hero > * {
    margin: 0 auto;
}

.hero > *:not(:last-child) {
    margin-bottom: var(--spacing-small);
}

.hero img {
    width: 100%;
    height: auto;
}

.hero h1 {
    width: 75%;
}
