.heroBackground {
    position: relative;
    overflow: hidden;
    background: var(--color-purple-opaque);
}

.heroTexture {
    position: absolute;
    height: 200%;
    width: 200%;
    background: url("/grid.png");
    background-repeat: repeat;
    background-size: 20%;
    background-position: center;
    animation: 60s ease-in-out 1s infinite alternate animatedHeroTexture;
}

@keyframes animatedHeroTexture {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-5%, -40%);
    }
    50% {
        transform: translate(-20%, -5%);
    }
    75% {
        transform: translate(-5%, -50%);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

.hero {
    position: relative;
    padding: var(--spacing-large) 0;
}

.hero > *:not(:last-child) {
    margin-bottom: var(--spacing-small);
}

.hero img {
    height: auto;
    width: 50%;
}
