# frontend
node_modules/
package-lock.json
.pnp
.pnp.js

coverage/

.next/
out/

build/

npm-debug.log*

.env*.local

.vercel

*.tsbuildinfo
next-env.d.ts

# backend
backend/*

# misc
.DS_Store
*.pem
