.container {
    height: 20px;
    width: 20px;
}

.container rect {
    transform-box: fill-box;
    transform-origin: center;
    transition: 100ms translate 100ms ease, rotate 100ms ease;
}

.container rect.top {
    translate: 0 -3px;
}

.container rect.bottom {
    translate: 0 3px;
}

.container.open rect {
    translate: 0;
    transition: 100ms translate ease, 100ms rotate 100ms ease;
}

.container.open rect.top {
    rotate: 45deg;
}

.container.open rect.bottom {
    rotate: -45deg;
}
