.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.container a {
    display: block;
}

.container a,
.container figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners img.tall {
    height: 48px;
    width: auto;
}

.partners img.wide {
    height: auto;
    width: 256px;
}

.sponsors img {
    height: 32px;
    width: auto;
}
