.container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.container div {
    display: flex;
    align-items: baseline;
    gap: 2px;
    opacity: 0.1;
    transition: opacity 500ms;
}

.container div.active {
    opacity: 1;
}

.counter {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: 0.4px;
}

.label {
    font-size: 12px;
}
