.wrapper {
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
}

.copyright p {
    font-size: 0.8rem;
    opacity: 0.4;
}

.captcha {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 0.8rem;
}

@media (min-width: 480px) {
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .captcha {
        margin-top: 0;
    }
}

.captcha p span {
    opacity: 0.4;
}

.captcha svg {
    height: 32px;
    width: 32px;
}
