.container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.container p {
    padding: 2px 8px;
    border-radius: 5px;
    background-color: var(--opaque-pink);
    color: var(--palette-pink);
}

.container svg {
    opacity: 0.4;
}
