.overlay {
    position: fixed;
    width: 100%;
    height: 100lvh;
    bottom: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    pointer-events: none;
}

.overlay > * {
    pointer-events: all;
}

.backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blur(10px);
}

.toolbar {
    position: relative;
    width: fit-content;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 11px; /*1px more*/
    padding: 10px;
    border-radius: 20px;
    background-color: var(--palette-background);
}


