.container > *:not(:last-child) {
    margin-bottom: 20px;
}

.route {
    display: block;
    text-decoration: unset;
    color: unset;
}

.set {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--opaque-foreground);
    transition: box-shadow 200ms, scale 200ms;
    box-shadow: inset 0 0 0 0 var(--opaque-pink);
}

.set:hover {
    scale: 1.025;
    box-shadow: inset 0 0 0 2px var(--opaque-pink);
}

.set > svg {
    margin-left: auto;
    color: var(--palette-pink);
}

.day {
    position: relative;
    font-weight: bold;
    margin-bottom: 10px;
}

.artist {
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}
