.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    border-radius: 50%;
    width: 33%;
    height: fit-content;
    z-index: 1;
    padding: 2%;
    background-color: var(--opaque-purple);
}

.container svg {
    display: block;
}

.ring {
    position: relative;
    width: 100%;
    animation: 30s linear 1s infinite running stamp;
    z-index: 2;
}

.core {
    position: absolute;
    background-color: var(--opaque-pink);
    border-radius: 50%;
    height: 60%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.core svg {
    width: 60%;
    height: auto;
    fill: var(--palette-pink);
}

@keyframes stamp {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}