.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--opaque-foreground);
}

.container figure {
    border-radius: 50px;
    flex-shrink: 0;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container figure svg {
    height: 32px;
    width: 32px;
}

.number {
    margin-bottom: 5px;
}

.number span {
    display: inline-block;
    width: 5ch;
}

.container figure svg {
    display: block;
}

.container figure.blue {
    background-color: rgba(170, 218, 247, 0.2);
    box-shadow: inset -1px 1px 2px -1px rgba(170, 218, 247, 0.2);
}

.container figure.orange {
    background-color: rgba(253, 215, 174, 0.2);
    box-shadow: inset -1px 1px 2px -1px rgba(253, 215, 174, 0.2);
}

.container figure.green {
    background-color: rgba(198, 224, 184, 0.2);
    box-shadow: inset -1px 1px 2px -1px rgba(198, 224, 184, 0.2);
}

.container figure.pink {
    background-color: rgba(247, 203, 224, 0.2);
    box-shadow: inset -1px 1px 2px -1px rgba(247, 203, 224, 0.2);
}

.number, .text {
    text-align: center;
}

.number {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: -0.6px;
    line-height: 2rem;
}

.text {
    font-size: 1rem;
}

@media (min-width: 600px) {
    .container {
        border-radius: 42px 10px 10px 42px;
        flex-direction: row;
    }

    .number, .text {
        text-align: right;
    }
}

@media (min-width: 768px) {
    .container {
        border-radius: 10px;
        flex-direction: column;
        align-items: center;
    }

    .container figure {
        flex-grow: 1;
        padding: unset;
        aspect-ratio: 1/1;
    }

    .container figure svg {
        height: 48px;
        width: auto;
    }

    .number, .text {
        text-align: center;
    }
}
