.text {
    display: inline-block;
    margin-bottom: 5px;
}

.container a {
    margin-top: 10px;
}

@media (min-width: 480px) {
    .container a {
        width: max-content;
    }

    .container a svg {
        margin-left: 50px;
    }
}
