.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.container a {
    width: 100%;
}

@media (min-width: 480px) {
    .container a {
        width: 300px;
    }
}

.empty {
    display: flex;
    gap: 10px;
    align-items: center;
    color: pink;
    padding: 5px 10px;
    background-color: var(--opaque-pink);
    border-radius: 50px;
}

.empty p {

}
