.wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--spacing-m);
}

.introduction .wrapper {
    display: flex;
    flex-direction: column;
    padding-top: var(--header-height);
    gap: var(--spacing-m);
}

.introduction h1 {
    text-align: center;
}

.committee .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-s);
}

.members .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-s);
}

@media (min-width: 480px) {
    .committee .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    }

    .members .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}
