.wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--spacing-m);
}

.introduction .wrapper {
    display: flex;
    flex-direction: column;
    padding-top: var(--header-height);
    gap: var(--spacing-m);
}

.introduction h1 {
    text-align: center;
}

.committee .wrapper {
    padding-bottom: var(--spacing-l);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-s);
}

@media (min-width: 480px) {
    .committee .wrapper {
        grid-template-columns: unset;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .committee .wrapper article {
        flex: 1 1 calc(calc(var(--max-width) - calc(var(--spacing-s) * 3) - var(--spacing-l)) / 4);
    }
}

@media (min-width: 1200px) {
    .committee .wrapper article {
        max-width: calc(calc(var(--max-width) - calc(var(--spacing-s) * 3) - var(--spacing-l)) / 4);
    }
}
