.route,
.anchor,
.button {
    border-radius: 10px;
    color: var(--button-foreground);
    background-color: var(--button-background);
    box-shadow: inset -1px 1px 2px -1px var(--button-inset);
    transition: background-color 200ms, color 200ms, transform 200ms;
}

.route img,
.anchor img,
.button img {
    border-radius: 50px;
}

.route,
.anchor {
    display: block;
    text-decoration: none;
}

.button {
    border: none;
    outline: none;
    font-size: 16px;
}

.route:active,
.anchor:active,
.button:active {
    background-color: var(--button-hover);
    cursor: pointer;
}

@media (hover: hover) {
    .route:hover,
    .anchor:hover,
    .button:hover {
        background-color: var(--button-hover);
        cursor: pointer;
    }
}

.route:disabled,
.anchor:disabled,
.button:disabled {
    opacity: .8;
    filter: grayscale(1);
    cursor: not-allowed;
}

.full {
    padding: 10px 10px 10px 13px;
    width: fit-content;
    align-items: center;
    display: flex;
    gap: 10px;
}

.full svg {
    display: block;
}

.full p {
    font-weight: bold;
    line-height: 20px;
}

.icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    padding: 5px 15px;
    font-weight: bold;
    text-decoration: none;
}

.instagram {
    background-color: rgba(227, 64, 94, 0.2);
    color: rgba(227, 64, 94, 1);
    box-shadow: inset -1px 1px 2px -1px rgba(227, 64, 94, 0.2);
}

.instagram:hover {
    background-color: rgba(227, 64, 94, 1);
    color: white;
}

.facebook {
    background-color: rgba(24, 118, 242, 0.2);
    color: rgba(24, 118, 242, 1);
    box-shadow: inset -1px 1px 2px -1px rgba(24, 118, 242, 0.2);
}

.facebook:hover {
    background-color: rgba(24, 118, 242, 1);
    color: white;
}
