.route,
.anchor,
.button {
    border-radius: 50px;
    color: var(--color-button);
    background-color: var(--color-button-opaque);
    box-shadow: inset -1px 1px 2px -1px var(--color-button-opaque);
    transition: background-color 200ms, color 200ms, transform 200ms;
}

.route img,
.anchor img,
.button img {
    border-radius: 50px;
}

.route,
.anchor {
    display: block;
    text-decoration: none;
}

.button {
    border: none;
    outline: none;
    font-size: 16px;
}

.route:active,
.anchor:active,
.button:active,
.route:hover,
.anchor:hover,
.button:hover {
    color: var(--color-button-hover);
    background-color: var(--color-button);
    cursor: pointer;
}

.full {
    padding: 9px 12px 9px 9px;
    width: fit-content;
    align-items: center;
    display: flex;
    gap: 10px;
}

.full svg {
    display: block;
}

.full p {
    font-weight: bold;
    line-height: 18px;
}

.icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    padding: 5px 15px;
    font-weight: bold;
    text-decoration: none;
}

.instagram {
    background-color: rgba(227, 64, 94, 0.2);
    color: rgba(227, 64, 94, 1);
}

.instagram:hover {
    background-color: rgba(227, 64, 94, 1);
    color: white;
}

.facebook {
    background-color: rgba(24, 118, 242, 0.2);
    color: rgba(24, 118, 242, 1);
}

.facebook:hover {
    background-color: rgba(24, 118, 242, 1);
    color: white;
}
