.container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}

@media (min-width: 480px) {
    .container {
        flex-direction: row;
    }
}

.poster {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    overflow: hidden;
    flex-shrink: 0;
}

.poster img {
    object-fit: cover;
}

.information {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-tiny);
}

.information li {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: var(--spacing-tiny);
}
