.event {
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
}

.event .category {
    width: fit-content;
    padding: 2px 10px;
    border-radius: 50px;
    font-size: 10px;
    background-color: var(--color-foreground);
    color: var(--color-background);
    font-weight: bold;
}

.event .content > *:not(:last-child) {
    margin-bottom: 5px;
}

.event a {
    margin-left: auto;
}
