.container {
    position: relative;
    overflow: hidden;
    background: var(--color-purple-opaque);
    border-radius: 10px;
    overflow: hidden;
}

.texture {
    position: absolute;
    height: 200%;
    width: 200%;
    background: url("/grid.png");
    background-repeat: repeat;
    background-size: 50%;
    background-position: center;
    animation: 60s ease-in-out 1s infinite alternate textureAnimation;
}

@keyframes textureAnimation {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-5%, -40%);
    }
    50% {
        transform: translate(-20%, -5%);
    }
    75% {
        transform: translate(-5%, -50%);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

.content {
    position: relative;
    padding: var(--spacing-medium) 0;
}

.content > *:not(:last-child) {
    margin-bottom: var(--spacing-medium);
}

.content img {
    width: 100%;
    max-width: 480px;
    height: auto;
}

.content h1 {
    width: 75%;
}
