.container {
    margin-top: var(--spacing-medium);
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: var(--spacing-medium);
}

.buttons a img {
    height: 22px;
    width: auto;
}

.buttons a span {
    font-size: 14px;
}
