.menu {
    position: relative;
    width: fit-content;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu ul li a {
    line-height: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 23px;
    border-radius: 10px;
    color: var(--color-pink);
    background-color: var(--color-pink-opaque);
    box-shadow: inset -1px 1px 2px -1px var(--button-inset);
    transition-property: background-color, box-shadow;
    transition-duration: 200ms;
}

.menu ul li a:hover {
    box-shadow: inset 0 0 0 5px var(--button-inset);
}

.menu ul li a.active,
.menu ul li a.active:hover {
    background-color: var(--color-pink);
    color: var(--color-purple);
}
