.menu {
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 10px;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu ul li a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 5px 15px;
    border-radius: 50px;
    color: var(--color-pink);
    background-color: rgb(26, 21, 23);
    transition: background-color 200ms, color 200ms;
}

.menu ul li a:hover {
    background-color: rgba(247, 203, 224, 0.2);
    box-shadow: inset -1px 1px 2px -1px var(--color-pink-opaque);
}

.menu ul li a.active,
.menu ul li a.active:hover {
    background-color: var(--color-foreground);
    color: var(--color-background);
}
