.overlay {
    position: fixed;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.wrapper {
    position: relative;
    display: block;
    max-width: var(--max-width);
}

.toolbar {
    padding: 10px;
    border-radius: 50px;
    display: inline-flex;
    gap: 10px;
    background-color: var(--color-header);
    backdrop-filter: blur(32px);
    box-shadow: inset -1px 1px 2px -1px rgba(255, 255, 255, 0.1);
}
