.container {
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    gap: 10px;
}

.group:not(:last-child) {
    margin-bottom: 20px;
}

.day {
    position: relative;
    font-weight: bold;
    margin-bottom: 9px; /*4px + 5px*/
}

.day::after {
    content: "";
    width: 100%;
    height: 1px;
    background: var(--color-foreground-opaque);
    position: absolute;
    bottom: -4px;
    border-radius: 1px;
    left: 0;
}

.set {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.set .artist {
    margin-bottom: 5px;
}
