.container {
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
}

.container figure {
    display: block;
    border-radius: 50px;
    padding: 10px;
    flex-shrink: 0;
    height: 64px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container figure svg {
    display: block;
}

.container figure.blue {
    background-color: rgba(170, 218, 247, 0.2);
    box-shadow: inset -1px 1px 2px -1px rgba(170, 218, 247, 0.2);
}

.container figure.orange {
    background-color: rgba(253, 215, 174, 0.2);
    box-shadow: inset -1px 1px 2px -1px rgba(253, 215, 174, 0.2);
}

.container figure.green {
    background-color: rgba(198, 224, 184, 0.2);
    box-shadow: inset -1px 1px 2px -1px rgba(198, 224, 184, 0.2);
}

.container .number {
    font-size: 32px;
    font-weight: bolder;
    letter-spacing: -0.6px;
    line-height: 32px;
}

.container .text {
    font-size: 14px;
}
