.container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container > svg {
    display: block;
    height: 64px;
    width: 64px;
    color: rgba(var(--pink), 0.4);
}
