.container {
    background-color: rgba(var(--purple), 0.2);
}

.wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--spacing-m) var(--spacing-m) var(--header-height) var(--spacing-m);
}

.copyright,
.captcha {
    font-size: 0.8rem;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.copyright p {
    opacity: 0.6;
}

.captcha {
    margin-top: var(--spacing-m);
    display: flex;
    gap: 10px;
    align-items: center;
}

@media (min-width: 480px) {
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .captcha {
        margin-top: 0;
    }
}

@media (min-width: 680px) {
    .wrapper {
        padding: var(--spacing-m);
    }

    .copyright,
    .captcha {
        min-height: 36px;
    }
}

.captcha p span {
    opacity: 0.4;
}

.captcha svg {
    height: 30px;
    width: 30px;
}
