.wrapper {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
}

.wrapper > *:not(:last-child) {
    margin-bottom: 40px;
}

.stamp {
    display: block;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: 1;
    margin: 0 auto;
}

.story > *:not(:last-child) {
    margin-bottom: 20px;
}

.committee {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.members {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

@media (min-width: 480px) {
    .committee {
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    }

    .members {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}
