.wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--spacing-l) var(--spacing-m);
}

.header .wrapper {
    padding-top: var(--header-height);
    padding-bottom: var(--spacing-m);
}

.form .wrapper {
    padding-top: 0;
}
