.container {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 414px) {
    .container {
        justify-content: center;
    }
}

.container::after {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, rgb(var(--background)) 0%, rgb(var(--background)) 25%, rgba(var(--background), 0));
    width: 25%;
    height: 100%;
    top: 0;
    left: 0;
}

.container .wrapper {
    position: relative;
    max-width: 375px;
    display: flex;
    align-items: center;
}

.container .sticker svg {
    display: block;
    width: auto;
}

.container .sticker:nth-child(1) svg {
    height: 78px;
}

.container .sticker:nth-child(2) {
    margin-left: -39px;
}

.container .sticker:nth-child(2) svg {
    height: 88px;
}

.container .sticker:nth-child(3) {
    margin-left: -44px;
}

.container .sticker:nth-child(3) svg {
    height: 98px;
}

.container .sticker:nth-child(4) {
    margin-left: -49px;
}

.container .sticker:nth-child(4) svg {
    height: 108px;
}

.container .sticker:nth-child(5) {
    margin-left: -54px;
}

.container .sticker:nth-child(5) svg {
    height: 118px;
}

.container .sticker:nth-child(6) {
    margin-left: -59px;
}

.container .sticker:nth-child(6) svg {
    height: 128px;
}
