.wrapper {
    position: relative;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
}

.wrapper button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.event {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

.poster {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    overflow: hidden;
}

.poster img {
    object-fit: cover;
}

.information > *:not(:last-child) {
    margin: 0 0 var(--spacing-tiny) 0;
}

.information {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-tiny);
}

.information li {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: var(--spacing-tiny);
}

.sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-small);
}

.sponsors a {
    position: relative;
    display: block;
    height: 32px;
    width: 32px;
}

.sponsors a img {
    object-fit: contain;
}

.schedule {
    display: grid;
    grid-auto-rows: 1fr;
    gap: var(--spacing-small);
}

.group {
    display: grid;
    grid-auto-rows: auto;
    gap: var(--spacing-small);
}

.title {
    position: relative;
    font-weight: bold;
    margin-bottom: 4px;
}

.title::after {
    content: "";
    width: 100%;
    height: 1px;
    background: var(--color-foreground-opaque);
    position: absolute;
    bottom: -4px;
    border-radius: 1px;
    left: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: auto;
    gap: var(--spacing-small);
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.grid article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-medium);
    border-radius: 20px;
}

.artist {
    margin-bottom: var(--spacing-tiny);
}
