.wrapper {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
}

.wrapper > *:not(:last-child) {
    margin-bottom: 40px;
}

.wrapper section > *:not(:last-child) {
    margin-bottom: 20px;
}

.wrapper span {
    font-weight: bold;
    white-space: nowrap;
}

.wrapper ul {
    list-style: none;
}

.wrapper ul li:not(:last-child) {
    margin-bottom: 10px;
}
