.wrapper {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
}

.wrapper > *:not(:last-child) {
    margin-bottom: 20px;
}

.header {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.archived {
    display: block;
    padding: 5px 15px;
    color: var(--palette-pink);
    background-color: var(--opaque-pink);
    border-radius: 50px;
    font-weight: bold;
    width: fit-content;
}

.poster {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--opaque-pink);
}

.poster:has(svg) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.poster img {
    object-fit: cover;
}

.metadata .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.metadata .collaborations {
    margin-top: 40px;
}

.metadata .collaborations > *:not(:last-child) {
    margin-bottom: 20px;
}

.information {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.information li {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

.information li svg {
    display: block;
    padding: 5px;
    color: var(--palette-pink);
    background-color: var(--opaque-pink);
    border-radius: 50px;
    box-sizing: content-box;
}

.timetable h2 {
    margin-bottom: 20px;
}

.timetable .empty {
    padding: 20px;
    background-color: var(--opaque-pink);
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timetable .empty p {
    opacity: 0.4;
    color: var(--palette-pink);
}

.responsive {
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    gap: 40px;
    grid-template-rows: min-content min-content;
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .responsive {
        grid-template-rows: 1fr;
        grid-template-columns: min-content 1fr;
    }

    .timetable:has(.empty) {
        height: 100%;
        display: grid;
        grid-template-rows: min-content 1fr;
    }

    .timetable .empty {
        padding: 0;
        height: 100%;
    }
}
