.container {
    background-color: rgba(var(--purple), 0.4);
}

.wrapper {
    max-width: 768px;
    margin: 0 auto;
    padding: var(--spacing-m);
}

.alert {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.alert .header {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.alert .header svg {
    display: block;
    height: 28px;
    width: 28px;
    color: rgb(var(--pink));
}

.alert .description {
    text-align: center;
}

.alert > a {
    align-self: center;
}
