.wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--spacing-l) var(--spacing-m);
}

.container h2 {
    margin-bottom: var(--spacing-s);
}

.empty {
    padding: var(--spacing-m);
    box-shadow: inset 0 0 0 2px rgb(var(--foreground), 0.1);
    border-radius: calc(5px + var(--spacing-s));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-s);
}

.empty p {
    text-align: center;
    opacity: 0.6;
    line-height: 22px;
}

.empty .actions {
    display: flex;
    gap: var(--spacing-t);
    align-items: center;
}
