.container {
    position: relative;
    z-index: 1;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    perspective: 800px;
    animation:
        2s bounce ease-in-out alternate infinite,
        18s tilt linear normal infinite;
}

.container svg {
    display: block;
}

.front, .back {
    inset: 0;
    position: absolute;
    background-color: rgb(40, 38, 60);
    backface-visibility: hidden;
    border-radius: 50%;
    transform-style: preserve-3d;
    padding: 10px;
}

.back {
    transform: rotateY(180deg);
}

.ring {
    position: relative;
    width: 100%;
    animation: 30s linear infinite spin;
}

.ring {
    transform: translateZ(10px);
}

.core {
    position: absolute;
    height: 60%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    background-color: rgb(var(--purple));
    border-radius: 50%;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) translateZ(20px);
}

.core svg {
    width: 60%;
    height: auto;
    fill: rgb(var(--pink));
    transform: translateZ(10px);
}

.pink {
    fill: #f7cbe0;
}

.mauve {
    fill: #8d8cc3;
}

.purple {
    fill: #4d4796;
}

@keyframes bounce {
    from {
        translate: 0 -2px;
    }
    to {
        translate: 0 2px;
    }
}

@keyframes tilt {
    from {
        rotate: y 0deg;
    }
    to {
        rotate: y 360deg;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg) translateZ(10px);
    }
    to {
        transform: rotate(360deg) translateZ(10px);
    }
}
