.container {
    width: 100%;
    max-width: 400px;
}

.container a {
    height: 100%;
    width: 100%;
    position: relative;
    text-decoration: none;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-s);
    padding: 20px;
    border-radius: calc(5px + var(--spacing-s));
    background-color: rgb(var(--pink));
    color: rgb(var(--purple));
    backdrop-filter: blur(5px);
    overflow: hidden;
    transition:
        scale 50ms,
        box-shadow 200ms;
}

@media (hover: hover) {
    .container a:hover {
        box-shadow: inset 0 0 0 4px rgba(var(--purple), 0.4);
    }
}

.artwork {
    top: 0;
    right: 0;
    display: block;
    position: absolute;
    object-fit: cover;
    object-position: right;
}

.calendar {
    width: fit-content;
    position: relative;
}

.calendar span {
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    text-align: center;
    grid-template-rows: min-content min-content;
}

.month {
    padding: 2px 10px;
    background-color: coral;
    color: white;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
}

.day {
    padding: 0 10px;
    height: 100%;
    background-color: rgb(var(--foreground));
    color: rgb(var(--background));
    font-size: 1.1rem;
    font-weight: bolder;
}

.year {
    padding: 0 10px;
    margin-bottom: 5px;
    font-size: 0.8rem;
    line-height: 12px;
    font-weight: bold;
    color: rgb(var(--purple));
}

.text {
    position: relative;
}

.text h3 {
    font-size: 1.5rem;
    color: rgb(var(--purple));
    margin-bottom: var(--spacing-t);
}

.text p {
    width: fit-content;
    padding: 2px 10px;
    border-radius: 50px;
    font-size: 0.8rem;
    background-color: rgba(var(--purple), 0.1);
    color: rgb(var(--purple));
}
