.wrapper {
    margin-top: 80px; /*header height*/
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-small);
}

.upcoming {
    display: flex;
    gap: var(--spacing-small);
}

.archived {
    display: flex;
    gap: var(--spacing-small);
    align-items: center;
}

.archived h2 {
    display: block;
    font-size: 1.2rem;
}

.archived a {
    margin-left: auto;
}

.schedule {
    display: grid;
    grid-auto-rows: auto;
    gap: var(--spacing-small);
}

.sets {
    display: grid;
    grid-auto-rows: auto;
    gap: var(--spacing-tiny);
}

.set {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-tiny);
    align-items: center;
}
