a.button {
    text-decoration: none;
    color: inherit;
}

button.button {
    border: unset;
    outline: unset;
    font-size: inherit;
    font-family: inherit;
}

.button {
    width: fit-content;
    border-radius: 10px;
    cursor: pointer;
    transition:
        background-color 200ms,
        color 200ms,
        scale 50ms;
}

.button.primary {
    background-color: rgba(var(--pink), 0.1);
    color: rgb(var(--pink));
    box-shadow: inset -1px 1px 2px -1px rgba(var(--pink), 0.1);
}

.button.secondary {
    background-color: rgb(var(--pink));
    color: rgb(var(--purple));
}

.button.instagram {
    background-color: rgba(227, 64, 94, 0.2);
    color: #e3405eff;
}

.button.facebook {
    background-color: rgba(24, 118, 242, 0.2);
    color: rgba(24, 118, 242, 1);
}

.button.soundcloud {
    background-color: rgba(255, 136, 0, 0.2);
    color: #ff8800;
}

.button.spotify {
    background-color: rgba(29, 185, 84, 0.2);
    color: #1db954;
}

@media (hover: hover) {
    .button.primary:not(:disabled):hover,
    .button.instagram:not(:disabled):hover,
    .button.facebook:not(:disabled):hover,
    .button.soundcloud:not(:disabled):hover,
    .button.spotify:not(:disabled):hover {
        background-color: rgb(var(--pink));
        color: rgb(var(--purple));
    }

    .button.secondary:not(:disabled):hover {
        background-color: rgb(var(--purple));
        color: rgb(var(--pink));
    }
}

.button:disabled {
    opacity: 0.6;
    filter: grayscale(1);
    pointer-events: none;
}

.button:active {
    scale: 0.95;
}

.button svg {
    display: block;
    height: 22px;
    width: 22px;
}

.button.social svg {
    height: 18px;
    width: 18px;
    margin: 2px;
}

.button.full {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 8px 8px 8px 10px;
    font-weight: bold;
    line-height: 22px;
}

.button.icon {
    padding: 8px;
}

span.disabled {
    cursor: not-allowed;
}
