.container {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
    width: fit-content;
}

.container > div {
    display: flex;
    align-items: baseline;
    gap: 2px;
}

.unit h3 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 34px;
    letter-spacing: -0.02em;
}

.started {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
    padding: 8px 8px 8px 10px;
    border-radius: 50px;
    background-color: rgb(var(--pink));
    color: rgb(var(--purple));
}

.started p {
    font-weight: bold;
    line-height: 18px;
}

.started .dot {
    position: relative;
    height: 18px;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.started .dot .inner {
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: rgb(237, 67, 55);
    border-radius: 50px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.started .dot .outer {
    position: relative;
    height: 12px;
    width: 12px;
    background-color: rgb(237, 67, 55);
    border-radius: 50px;
    animation: live 2s ease infinite;
}

@keyframes live {
    from {
        scale: 1;
        opacity: 1;
    }
    to {
        scale: 2;
        opacity: 0;
    }
}
