.container {
    position: relative;
}

.loading {
    position: absolute;
    width: 100%;
    background-color: rgba(var(--pink), 0.1);
    border-radius: 10px;
}

.loading > div {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.loading.spotify {
    height: 352px;
}

.loading.soundcloud {
    height: 450px;
}
