.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    gap: var(--spacing-s);
}

.unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-s);
    border-radius: 10px;
    padding: var(--spacing-s);
}

.unit svg {
    display: block;
    height: 48px;
    width: 48px;
}

.unit.blue {
    background-color: rgba(var(--blue), 0.2);
    box-shadow: inset -1px 1px 2px -1px rgba(var(--blue), 0.2);
    color: rgb(var(--blue));
}

.unit.orange {
    background-color: rgba(var(--orange), 0.2);
    box-shadow: inset -1px 1px 2px -1px rgba(var(--orange), 0.2);
    color: rgb(var(--orange));
}

.unit.green {
    background-color: rgba(var(--green), 0.2);
    box-shadow: inset -1px 1px 2px -1px rgba(var(--green), 0.2);
    color: rgb(var(--green));
}

.unit.pink {
    background-color: rgba(var(--pink), 0.2);
    box-shadow: inset -1px 1px 2px -1px rgba(var(--pink), 0.2);
    color: rgb(var(--pink));
}

.content h3,
.content p {
    text-align: center;
    color: rgb(var(--foreground));
}

.content h3 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: -0.02em;
    line-height: 2rem;
}

@media (min-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content min-content;
    }

    .unit {
        flex-direction: row;
        gap: var(--spacing-m);
    }

    .content {
        margin-left: auto;
    }

    .content h3,
    .content p {
        text-align: right;
    }
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .unit {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-s);
    }

    .content {
        margin-left: unset;
    }

    .content h3,
    .content p {
        text-align: center;
    }
}
