.toasts {
    position: fixed;
    top: 0;
    left: 50%;
    translate: -50% 0;
    width: 100%;
    max-width: var(--max-width);
    z-index: 5;
    padding: 20px;
    pointer-events: none;
}

.toasts:empty {
    padding: 0;
}

.toast {
    position: relative;
    margin-right: auto;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 8px 8px 15px;
    border-radius: 5px;
    line-height: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(var(--foreground), 0.9);
    color: rgb(var(--background));
    overflow: hidden;
}

.toast p {
    color: rgb(var(--background));
}

.toast:before {
    position: absolute;
    content: '';
    width: 5px;
    height: 100%;
    left: 0;
}

.toast:not(:last-child) {
    margin-bottom: 10px;
}

.toast.error svg {
    color: rgb(var(--danger));
}

.toast.success svg {
    color: rgb(var(--success));
}

.toast.warning svg {
    color: rgb(var(--warning));
}

.toast.error:before {
    background-color: rgba(var(--danger), 0.9);
}

.toast.success:before {
    background-color: rgba(var(--success), 0.9);
}

.toast.warning:before {
    background-color: rgba(var(--warning), 0.9);
}
