.wrapper {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
}

.wrapper > *:not(:last-child) {
    margin-bottom: 40px;
}

.responsive {
    display: grid;
    grid-template-rows: min-content min-content;
    gap: 40px;
}

.information > *:not(:last-child) {
    margin-bottom: 20px;
}

.media {
    flex-grow: 1;
}

.picture {
    position: relative;
    height: 240px;
    width: 240px;
    border-radius: 10px;
    overflow: hidden;
}

.picture img {
    object-fit: cover;
}

.picture:has(svg) {
    background-color: var(--opaque-pink);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.embeds {
    position: relative;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media (max-width: 480px) {
    .embeds {
        grid-template-columns: 1fr;
    }
}

.description {
    flex: 1 1 250px;
}

.description > *:not(:last-child) {
    margin-bottom: 10px;
}

.description:has(.empty) {
    background-color: var(--opaque-pink);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.description .empty {
    opacity: 0.4;
    color: var(--palette-pink);
}

.responsive {
    display: grid;
    gap: 40px;
    grid-template-rows: min-content min-content;
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .responsive {
        grid-template-rows: 1fr;
        grid-template-columns: min-content 1fr;
    }

    .picture {
        width: 300px;
        height: 300px;
    }
}
